# Ignore configuration files that may contain sensitive information.
/docroot/sites/*/settings*.php
/docroot/sites/*/dbsettings.inc

# Ignore paths that contain generated content.
/docroot/sites/*/files
/docroot/sites/*/private

# Ignore IDE files
/.idea
